<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vincent.mapper.CustomFieldMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.vincent.entity.CustomField">
                    <id column="id" property="id" />
                    <result column="core_field_1" property="coreField1" />
                    <result column="core_field_2" property="coreField2" />
                    <result column="core_field_3" property="coreField3" />
                    <result column="custom_field" property="customField" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, core_field_1, core_field_2, core_field_3, custom_field
        </sql>

</mapper>
